.button{
    width: 100%;
    background: rgb(49, 121, 255);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.button:disabled{
    background: rgb(77, 77, 77);
    cursor: not-allowed;
}